body{
    background-color: rgb(126, 126, 180);
}

.meio{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.lista{
    font-family: 'Courier New', Courier, monospace;
}

h1{
    background-color: rgb(115, 94, 134);
    color: rgb(255, 255, 255);
    border: 2px;
    border-color: rgb(197, 165, 181);
    border-style:double;
}